.card-container {
  width: 100%;
  margin: 10px 20px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  .location-text {
    font-weight: 400;
    font-size: 1rem;
    width: 100%;
  }
  .title-text {
    font-size: 1.1rem;
    margin-top: -20px;
    width: 100%;
  }
  .warning-text-container {
    text-align: right;
    width: 100%;
    .warning-text {
      color: #ffc500;
      text-transform: unset;
      font-size: 1rem;
    }
    .error-text {
      color: #e53a20;
      text-transform: unset;
      font-size: 1rem;
    }
  }

  .ack-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    .acknowledge-text {
      color: #06471cb9;
    }
  }
  .detail-btn {
    opacity: 0.6;
    border-radius: 8px;
    background-color: #FFC602;
    text-transform: unset;
    &:hover {
      color: #000;
      background-color: #FFC602;
    }
    span {
      color: #000;
      letter-spacing: 0;
      line-height: 24px;
    }
  }
  .action-container {
    padding: 10px 15px;
    h6 {
      text-transform: unset;
      font-weight: 400;
      font-size: 1.1rem;
      padding: 3px 0;
    }
    .link-action-btn {
      text-decoration: underline;
      text-transform: unset;
    }
    .preview-container {
      display: flex;
      .img-view {
        height: 100px;
        width: 150px;
        margin-right: 5px;
        border: 1px solid #979797;
      }
    }
    p {
      width: 100%;
    }
  }
}