.forgot-form-container {
    display: flex;
    justify-content: flex-end;
    .submit-btn {
        margin: 10px 0px 16px;
        background-color: #292734;
        text-transform: unset;
        width: 200px;
        padding: 10px;
        color: #fff;
        &:hover {
            color: #fff;
            background-color: #000;
        }
    }
    .remember-me {
        &.Mui-checked {
            color: #292734;
        }
    }
    .forgot-link {       
        text-transform: unset;
        font-size: 0.875rem; 
        a {
            height: 20px;
            color: #292734;
            font-size: 0.875rem;
            letter-spacing: 0;
            line-height: 24px;
        }
    }
    .title {
        color: #F7B500;
        font-family: Titillium;
        font-size: 22px;
        letter-spacing: 0;
        line-height: 37px;
        text-align: center;
        text-transform: unset;
    }
    .info-text {
        opacity: 0.39;
        color: #5C5B57;
        font-family: Titillium;
        font-size: 16px;
        letter-spacing: 0;
        line-height: 24px;
        text-align: center;
        text-transform: unset;
    }
}
.forgot-password-container {
    max-width: unset !important;
    background-color: #292734;
    background-image: url('../../assets/img/banner/LoginBanner.svg');
    background-position-x: 0;
    background-position-y: 25%;
    background-repeat: repeat-x;
    background-size: unset;
}
.login-logo {
    height: 50px;
    width: 150px;
}
.login-banner-container {
    text-align: center;
    background-color: #848383;
    margin: 0 -24px;
    padding: 25px;
    h3 {
        color: #FFC602;
        font-size: 1.5rem;
        margin-bottom: 0;
    }
}
.terms-container {
    text-align: center;
    padding: 20px 0;
    p {
        color: #fff;
        font-size: 0.675rem;
    }
    .footer-logo {
        height: 40px;
        width: 100px;
    }
}
.MuiInputBase-root.MuiOutlinedInput-root.MuiInputBase-formControl.MuiInputBase-adornedEnd.MuiOutlinedInput-adornedEnd{
    width:272px!important;
}
@media only screen and (max-width: 768px) {
    
        .casemanagement-container-first {
            margin-top: 4rem;
            background-color: #292734;
        }
        .MuiInputBase-root.MuiOutlinedInput-root.MuiInputBase-formControl.MuiInputBase-adornedEnd.MuiOutlinedInput-adornedEnd{
            width:272px!important;
        }

  }
  @media only screen and (max-width: 600px) {
    
    .casemanagement-container-first {
        margin-top: 62px;
        background-color: #292734;
    }
    .MuiFormControl-root.MuiTextField-root{
        // width:100px;
    }
    .MuiInputBase-root.MuiOutlinedInput-root.MuiInputBase-formControl.MuiInputBase-adornedEnd.MuiOutlinedInput-adornedEnd{
        width:272px!important;
    }

}
